In [3]:
import pandas as pd
import numpy as np

## Community Data

First Load, Clean and basic analysis

In [4]:
df_com_original = pd.read_csv("https://github.com/SubhanAhsan/ds_ibm_capstone/raw/master/data/dubai_com_geo.csv")
df_com_original.head()

,X,Y,gid,Name,description,CNAME_E,OBJECTID,LABEL_E,C_PREFIX_E,C_PREFIX_A,COMMUNITY_,DGIS_ID,COMM_NUM,NDGIS_ID,SHAPE_AREA,SHAPE_LEN
0,55.238901,24.696762,2,kml_2,NaN,HEFAIR,24,HEFAIR,Community:,NaN,HEFAIR - 991,227,991,227,1.435665e+08,51721.211180
1,55.351739,25.075185,6,kml_6,NaN,WADI AL SAFA 5,28,WADI AL SAFA 5,Community:,NaN,WADI AL SAFA 5 - 648,228,648,228,1.631967e+07,22350.662760
2,55.381360,24.870378,16,kml_16,NaN,SAIH AL SALAM,38,SAIH AL SALAM,Community:,NaN,SAIH AL SALAM - 951,217,951,217,8.869042e+07,42842.713290
3,55.543516,25.239984,127,kml_127,NaN,AL TTAY,149,AL TTAY,Community:,NaN,AL TTAY - 284,55,284,55,3.294484e+06,12793.454780
4,55.336311,25.268667,21,kml_21,NaN,AL KHABAISI,43,AL KHABAISI,Community:,NaN,AL KHABAISI - 128,30,128,30,1.226749e+06,5559.091719

In [19]:
df_com = df_com_original[["X", "Y", "gid", "CNAME_E", "COMMUNITY_", "COMM_NUM"]]

In [43]:
df_com.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226 entries, 0 to 225
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Longitude           226 non-null    float64
 1   Latitude            226 non-null    float64
 2   gid                 226 non-null    int64
 3   Community Name      226 non-null    object
 4   Community Name Alt  226 non-null    object
 5   Community Number    226 non-null    object
dtypes: float64(2), int64(1), object(3)
memory usage: 10.7+ KB

array(['101', '111', '112', '113', '114', '115', '116', '117', '118',
       '119', '121', '122', '123', '124', '125', '126', '127', '128',
       '129', '131', '132', '133', '134', '213', '214', '215', '216',
       '221', '226', '227', '228', '231', '232', '233', '234', '241',
       '242', '243', '244', '245', '246', '247', '248', '251', '252',
       '261', '262', '263', '264', '265', '266', '267', '268', '271',
       '281', '282', '283', '284', '302', '303', '304', '311', '312',
       '313', '314', '315', '316', '317', '318', '319', '321', '322',
       '323', '324', '325', '326', '332', '333', '334', '335', '336',
       '337', '342', '343', '345', '346', '347', '352', '353', '354',
       '355', '356', '357', '358', '359', '362', '363', '364', '365',
       '366', '367', '368', '369', '372', '373', '375', '376', '381',
       '382', '383', '384', '388', '392', '393', '394', '412', '413',
       '415', '416', '421', '422', '423', '424', '425', '431', '501',
       '502', '511', '512', '513', '516', '518', '521', '531', '532',
       '533', '591', '592', '593', '594', '597', '598', '599', '611',
       '612', '613', '614', '615', '616', '617', '618', '621', '622',
       '624', '626', '631', '643', '645', '646', '648', '664', '665',
       '671', '672', '673', '674', '675', '676', '677', '681', '682',
       '683', '684', '685', '686', '711', '721', '724', '727', '731',
       '735', '736', '811', '812', '813', '814', '821', '824', '826',
       '831', '835', '841', '845', '847', '851', '857', '861', '891',
       '911', '912', '913', '914', '915', '916', '917', '918', '919',
       '921', '922', '923', '924', '925', '931', '941', '945', '951',
       '956', '961', '967', '971', '975', '978', '981', '987', '988',
       '991'], dtype=object)

In [11]:
df_com.shape

(226, 6)

In [12]:
len(df_com["COMM_NUM"].unique())

226

In [13]:
df_com.isna().describe()

            X      Y    gid CNAME_E COMMUNITY_ COMM_NUM
count     226    226    226     226        226      226
unique      1      1      1       1          1        1
top     False  False  False   False      False    False
freq      226    226    226     226        226      226

In [14]:
df_com["COMM_NUM"].apply(str).apply(len).describe()

count    226.0
mean       3.0
std        0.0
min        3.0
25%        3.0
50%        3.0
75%        3.0
max        3.0
Name: COMM_NUM, dtype: float64

**We may consider making the community number as string and adding sector**

Rename the columns

df_com.rename(columns={'X':'Longitude', 'Y':'Latitude', 'CNAME_E':'Community Name', 'COMM_NUM':'Community Number','COMMUNITY_':'Community Name Alt'}, inplace=True)

Change type of community number

In [44]:
df_com['Community Number'].loc[:] = df_com['Community Number'].loc[:].astype(str)
df_com.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226 entries, 0 to 225
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Longitude           226 non-null    float64
 1   Latitude            226 non-null    float64
 2   gid                 226 non-null    int64
 3   Community Name      226 non-null    object
 4   Community Name Alt  226 non-null    object
 5   Community Number    226 non-null    object
dtypes: float64(2), int64(1), object(3)
memory usage: 10.7+ KB

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Add sector based on first digit of Community Number

In [77]:
df_com['Sector'] = df_com['Community Number'].str[0]

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

sort by community number

In [86]:
df_com.sort_values('Community Number', inplace=True)

,Community Number,Longitude,Latitude,gid,Community Name,Community Name Alt,Sector
117,101,55.266712,25.332858,100,NAKHLAT DEIRA,NAKHLAT DEIRA - 101,1
83,111,55.303071,25.278021,95,AL CORNICHE,AL CORNICHE - 111,1
19,112,55.296003,25.269669,184,AL RAS,AL RAS - 112,1
194,113,55.300108,25.272662,185,AL DAGHAYA,AL DAGHAYA - 113,1
191,114,55.299772,25.268903,186,AL BUTEEN,AL BUTEEN - 114,1
...,...,...,...,...,...,...,...
22,978,55.427248,24.670109,214,SAIH SHUA'ALAH,SAIH SHUA'ALAH - 978,9
218,981,55.209202,24.802215,218,MUGATRAH,MUGATRAH - 981,9
40,987,55.122470,24.790772,22,AL LAYAN 1,AL LAYAN 1 - 987,9
147,988,55.156838,24.748468,211,AL LAYAN 2,AL LAYAN 2 - 988,9
0,991,55.238901,24.696762,2,HEFAIR,HEFAIR - 991,9