In [32]:
#!conda list | grep folium
#!pip install folium --upgrade

folium                    0.11.0                   pypi_0    pypi

In [33]:
import pandas as pd
import numpy as np
import folium
from branca.colormap import linear  # for colorbrewer
from IPython.display import IFrame

import matplotlib.pyplot as plt
import seaborn as sns

## Community Data

First Load, Clean and basic analysis

In [3]:
df_com_original = pd.read_csv("https://github.com/SubhanAhsan/ds_ibm_capstone/raw/master/data/dubai_com_geo.csv")
df_com_original.head()

,X,Y,gid,Name,description,CNAME_E,OBJECTID,LABEL_E,C_PREFIX_E,C_PREFIX_A,COMMUNITY_,DGIS_ID,COMM_NUM,NDGIS_ID,SHAPE_AREA,SHAPE_LEN
0,55.238901,24.696762,2,kml_2,NaN,HEFAIR,24,HEFAIR,Community:,NaN,HEFAIR - 991,227,991,227,1.435665e+08,51721.211180
1,55.351739,25.075185,6,kml_6,NaN,WADI AL SAFA 5,28,WADI AL SAFA 5,Community:,NaN,WADI AL SAFA 5 - 648,228,648,228,1.631967e+07,22350.662760
2,55.381360,24.870378,16,kml_16,NaN,SAIH AL SALAM,38,SAIH AL SALAM,Community:,NaN,SAIH AL SALAM - 951,217,951,217,8.869042e+07,42842.713290
3,55.543516,25.239984,127,kml_127,NaN,AL TTAY,149,AL TTAY,Community:,NaN,AL TTAY - 284,55,284,55,3.294484e+06,12793.454780
4,55.336311,25.268667,21,kml_21,NaN,AL KHABAISI,43,AL KHABAISI,Community:,NaN,AL KHABAISI - 128,30,128,30,1.226749e+06,5559.091719

In [4]:
df_com = df_com_original[["X", "Y", "gid", "CNAME_E", "COMMUNITY_", "COMM_NUM"]]

In [5]:
df_com.info()
df_com.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226 entries, 0 to 225
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   X           226 non-null    float64
 1   Y           226 non-null    float64
 2   gid         226 non-null    int64
 3   CNAME_E     226 non-null    object
 4   COMMUNITY_  226 non-null    object
 5   COMM_NUM    226 non-null    int64
dtypes: float64(2), int64(2), object(2)
memory usage: 10.7+ KB

(226, 6)

In [6]:
print(len(df_com["COMM_NUM"].unique()))
df_com.isna().describe()

226

            X      Y    gid CNAME_E COMMUNITY_ COMM_NUM
count     226    226    226     226        226      226
unique      1      1      1       1          1        1
top     False  False  False   False      False    False
freq      226    226    226     226        226      226

In [7]:
df_com["COMM_NUM"].apply(str).apply(len).describe()

count    226.0
mean       3.0
std        0.0
min        3.0
25%        3.0
50%        3.0
75%        3.0
max        3.0
Name: COMM_NUM, dtype: float64

Rename the columns

In [8]:
df_com.rename(columns={'X':'Longitude', 'Y':'Latitude', 'CNAME_E':'Community Name', 'COMM_NUM':'Community Number','COMMUNITY_':'Community Name Alt'}, inplace=True)

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Change type of community number

In [9]:
df_com['Community Number'].loc[:] = df_com['Community Number'].loc[:].astype(str)
df_com.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226 entries, 0 to 225
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Longitude           226 non-null    float64
 1   Latitude            226 non-null    float64
 2   gid                 226 non-null    int64
 3   Community Name      226 non-null    object
 4   Community Name Alt  226 non-null    object
 5   Community Number    226 non-null    object
dtypes: float64(2), int64(1), object(3)
memory usage: 10.7+ KB

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Add sector based on first digit of Community Number

In [10]:
df_com['Sector'] = df_com['Community Number'].str[0].astype(int)
df_com.sort_values('Community Number', inplace=True)

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [11]:
df_com.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 226 entries, 117 to 0
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Longitude           226 non-null    float64
 1   Latitude            226 non-null    float64
 2   gid                 226 non-null    int64
 3   Community Name      226 non-null    object
 4   Community Name Alt  226 non-null    object
 5   Community Number    226 non-null    object
 6   Sector              226 non-null    int64
dtypes: float64(2), int64(2), object(3)
memory usage: 14.1+ KB

# Plot on Map

In [25]:
# define the map centered around Dubai with a higher zoom level

#define Dubai's geolocation coordinates
dubai_latitude = 25.2048
dubai_longitude = 55.2708

#load dubai.geojson

# download countries geojson file
!wget --quiet https://github.com/SubhanAhsan/ds_ibm_capstone/raw/master/data/dubai.geojson -O dubaigeo.json

#url_dubai_geo = 'https://github.com/SubhanAhsan/ds_ibm_capstone/blob/master/data/dubai.geojson'
dubai_geo = r'dubaigeo.json' # geojson file

map_dubai = folium.Map(location=[dubai_latitude, dubai_longitude], zoom_start=9, tiles='cartodbpositron')

map_dubai.choropleth(
    geo_data=dubai_geo,
    data=df_com,
    columns=['Community Name', 'Sector'],
    key_on='feature.properties.COMM_NUM',
    fill_color='YlGn', 
    fill_opacity=0.7, 
    line_opacity=0.2,
    legend_name='Dubai Communities'
)
map_dubai.save("map_dubai_communities.html")
#folium.LayerControl().add_to(map_dubai)

# display map
#map_dubai

print('Map generated')

GeoJSON file downloaded!

In [26]:
#show map
IFrame(src='map_dubai_communities.html', width=980, height=600)